%% Tell rebar about this directory's structure
{lib_dirs, ["apps", "deps"]}.
{sub_dirs, ["apps/*"]}.

%% Build a release when compiling
{post_hooks,[{compile, "./relx"}]}.

%% For eventual dependencies:
% {deps_dir, "deps"}.
{deps, [
   {gproc, ".*", {git, "https://github.com/uwiger/gproc.git", {tag, "0.3"}}},
   {recon, ".*", {git, "https://github.com/ferd/recon.git", {branch,"2.x"}}}
]}.
