%% For eventual dependencies:
{deps, [{gproc, ".*", {git, "https://github.com/uwiger/gproc.git", {tag, "0.3"}}},
        {recon, ".*", {git, "https://github.com/ferd/recon.git", {branch,"2.x"}}}
       ]}.

{relx, [{release, {recon_demo, "1.0.0"},
         %% list of apps to include
         [council,
          recon,
          syntax_tools]}]}.
